div.scrollmenu1 {
    background-color: #757edb;
    overflow: auto;
    white-space: nowrap;
  }
  
  div.scrollmenu1 a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu1 a:hover {
    background-color: rgba(255, 255, 255, 0.766);
  }
  #menu4{
    margin-left:75.5%;
  }
  #menu5{
    margin-left:2%;
  }
  #menu6{
    margin-left:2%;
  }

