
.vertical-menu {
    width: 80px;
  }
  
  .vertical-menu a {
    height: 100px;
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
  }
  
  .vertical-menu a:hover {
    background-color: #ccc;
  }
  
  .vertical-menu a.active {
    background-color: #eee;
    color: #eee;
  }
  aside{
    float: left;
  }
  article{
    float:center;

  }